/*----------------------------------------------------------------------------------------------------------- Resets */
*, *::before, *::after {
    box-sizing: border-box;
}

* {
    margin: 0;
    padding: 0;
    font: inherit;
}

* + * {
    margin: 1em 0 0;
}

html {
    color-scheme: dark light;
}

body {
    min-height: 100vh;
    background-color: hsl(0, 0%, 95%);
    color: hsl(0, 0%, 0%);
}

img, picture, svg, video {
    display: block;
    max-width: 100%;
}

input, textarea, button, select {
    font: inherit;
}


/*
To fix issue with first child does not need a margin-top:
.utility-class > * {
margin-top: 0;
}

or (better)
.utility-class > * + * { <--- select every child element except the first also does not change specificity like using :first-child like :not(:first-child)
    margin-top: var(--flow-space, 1em);
}

To prevent collapsing margins use (parents margins won't collapse with its child's margins (creates a new formatting context) :
display: flow-root;

Example:
.hero-content {
    background: white;
    width: 70%;
    margin: 0 auto;  <----
display: flow-root;
}

h1 {
    margin-top: 300px; <----
}

header {
    height: 100vh <-- fallback if no browser support
    height: 100svh; <-- optimal helps with mobile dvh lvh dvh can get janky
}

content: open-quote;
isolation: isolate; <--- new stacking context
inset: 0;
inset: 1rem 2rem 4rem
counter-increment: your_chosen_name;

section {
    counter-increment: section-counter;
}

section {
    opacity: .5;
    content: counter(section-counter) ". ";
}

contain: style; <-- self isolated/contained area
contain: layout;
contain: paint;
-----
when 3 value it top left and right and bottom
margin: 1em 4em 2em
*/