/* Resets */
*,
*::before,
*::after {
    box-sizing: border-box;
}

html {
    color-scheme: dark light;
}

body {
    margin: 0;
    font-family: system-ui;
    font-size: 1.125rem;
    line-height: 1.6;
}

img {
    max-width: 100%;
    display: block;
}

/* Resets end of */
.wrapper {
    max-width: 50rem;
    margin-inline: auto;
    padding-inline: 1rem;
}

.accordion {
    --_button-size: 4rem;
    --_panel-padding: .75rem;
    --_panel-gap: 1rem;

    display: flex;
    flex-direction: column;
    gap: 1rem;
    /*Demo only*/
    margin-top: 20rem;
}

.accordion * {
    margin: 0;
}

.accordion__panel {
    position: relative;
    isolation: isolate;
    flex-basis: calc((var(--_panel-padding) * 2) + var(--_button-size));
    overflow: hidden;
    padding: var(--_panel-padding) calc(var(--_panel-padding) * 4) var(--_panel-padding) var(--_panel-padding);
    border-radius: calc(((var(--_panel-padding) * 2) + var(--_button-size)) / 2);
}

@media (prefers-reduced-motion: no-preference) {
    .accordion__panel {
        transition: flex-basis 500ms;
    }
}

.accordion__icon {
    background: hsl(0, 0%, 0%, .55);
    width: var(--_button-size);
    font-size: 2rem;
    aspect-ratio: 1 / 1;
    padding: 0.75rem;
    border-radius: 50%;
    z-index: 10;
}

.accordion__icon i {
    color: var(--_panel-color);
}

.accordion__panel:nth-child(1) {
    --_panel-color: hsl(160, 70%, 50%);
}

.accordion__panel:nth-child(2) {
    --_panel-color: hsl(184, 70%, 50%);
}

.accordion__panel:nth-child(3) {
    --_panel-color: hsl(220, 70%, 50%);
}

.accordion__panel:nth-child(4) {
    --_panel-color: hsl(350, 70%, 50%);
}

.accordion__panel:nth-child(5) {
    --_panel-color: hsl(20, 70%, 50%);
}

/* https://developer.mozilla.org/en-US/docs/Web/CSS/:has*/
/* about:config - layout.css.has-selector.enabled*/
/*.accordion__panel:has([aria-expanded="true"]) {*/
/*    flex-basis: clamp(15rem, 40vh, 20rem);*/
/*}*/

.accordion__panel[data-accordion-expanded="true"] {
    flex-basis: clamp(15rem, 40vh, 20rem);
}

.accordion__content > p {
    transform: translateY(2rem);
    opacity: 0;
    margin-left: calc(var(--_button-size) + var(--_panel-gap));
}

@media (prefers-reduced-motion: no-preference) {
    .accordion__content > p {
        transition: transform 500ms 250ms, opacity 500ms;
    }
}

.accordion__panel[data-accordion-expanded='true'] .accordion__content > p {
    transform: translateY(0);
    opacity: 1;
}

.accordion__title {
    font-size: 1.5rem;
    font-weight: 700;

    position: relative;
    isolation: isolate; /*new stacking context*/

    display: grid;
    align-items: center;
}

.accordion__title::after {
    content: "";
    position: absolute;
    left: calc((var(--_panel-gap) + var(--_button-size)) * -1);
    width: calc(100% + (var(--_button-size) * 2));
    height: var(--_button-size);
    background: hsl(0, 0%, 0%, .5);
    z-index: -1;
    border-radius: 100vw;
}

.accordion__image {
    position: absolute;
    inset: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -1;

    transition: filter 500ms;
}

.accordion__panel[data-accordion-expanded="true"] .accordion__image {
    filter: brightness(.5);
}

.accordion__trigger {
    display: flex;
    align-items: center;
    gap: var(--_panel-gap);
    flex-direction: row-reverse;
    background: transparent;
    border: 0;
    padding: 0;
}
